:root{ --primary:#0396c7; 
    --accent:#ff9900; 
}


body{ 
    font-family: Arial, Helvetica, sans-serif; 
    margin:0; background:#f5f6f7; 
}

.product-card {
  max-width: 12em;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 5px 5px #ececec;
  border: 1px solid lightblue;
  border-radius: 10px;
  cursor: grab;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;

/* .product-card {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s;
} */

}
.img-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border: 2px solid lightblue;
  border-radius: 8px;
  position: relative;
}


.product-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 100%;
  object-fit: contain;
  object-position: top;
  transition: transform 0.4s ease;
  display: block;
}

.product-card p {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 12px;
  font-weight: bold;
  height: 3em;
  text-align: left;
}

.product-card div {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card a {
  font-size: 1rem;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #0396c7;
  border-radius: 50%;
  transition: 0.3s;
}

.product-card span {
  color: #004aad;
}

.product-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.product-card:hover img{
  transform: scale(1.1);
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card a:hover {
  background-color: #004aad;
  transform: translateY(-10px);
}

.product-card {
  flex: 0 0 200px;
  scroll-snap-align: start;
}