:root {
  --primary: #0396c7;
  --accent: #ff9900;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f5f6f7;
}

.product-card {
  max-width: 12em;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 5px 5px #ececec;
  border: 1px solid lightblue;
  border-radius: 10px;
  cursor: grab;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}
.img-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border: 2px solid lightblue;
  border-radius: 8px;
  position: relative;
}

.product-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 100%;
  object-fit: contain;
  object-position: top;
  transition: transform 0.4s ease;
  display: block;
}

.product-card p {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 12px;
  font-weight: bold;
  height: 3em;
  text-align: left;
}

.product-card div {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-btn {
  font-size: 1rem;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #0396c7;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.product-card span {
  color: #004aad;
}

.product-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card .add-to-cart-btn:hover {
  background-color: #004aad;
  transform: translateY(-10px);
}

.product-card {
  flex: 0 0 200px;
  scroll-snap-align: start;
}
