body {
    font-family: "Segoe UI", sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: white;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.book-image img {
    width: 280px;
    border-radius: 8px;
}

.book-info {
    margin-left: 2rem;
    max-width: 400px;
}

.price {
    margin: 1rem 0;
}

.price .current {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e53935;
}

.price .old {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}

.quantity {
    margin: 1rem 0;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
}

.add-btn {
    background-color: #004aad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.add-yeuthich {
    background-color: hsl(13, 100%, 34%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.add-btn:hover {
    background-color: #00337a;
}

.promo {
    margin-top: 1rem;
    background-color: #f1f7ff;
    border-left: 4px solid #004aad;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.description, .suggest {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 2rem;
    background-color: white;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.suggest-list {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.suggest-item {
    text-align: center;
}

.suggest-item img {
    width: 120px;
    border-radius: 8px;
}

