*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f4f4;
}

body .checkout-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    gap: 30px;
}

body .checkout-container .checkout-left{
    flex: 2;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
body .checkout-container .checkout-left .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
body .checkout-container .checkout-left .image img{
    width: 150px;
    background-color: #0396c7;
    border-radius: 8px;
    margin-bottom: 15px;
}
body .checkout-container .checkout-left .label-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #0396c7;
    font-weight: bold;
}
body .checkout-container .checkout-left .label-logout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
body .checkout-container .checkout-left .label-logout p{
    font-size: 1.1rem;
    font-weight: 600;
}
body .checkout-container .checkout-left .label-logout a{
    color: #0396c7;
    text-decoration: none;
    transition: all 0.5s ease;
}
body .checkout-container .checkout-left .label-logout a:hover {
    color: hsl(195, 98%, 50%);
    cursor: pointer;
}
body .checkout-container .checkout-left .label-logout a i{
    margin-right: 10px;
}
body .checkout-container .checkout-left .form-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
body .checkout-container .checkout-left .form-container form .input{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    transition: border-color 0.3s ease;
}
body .checkout-container .checkout-left .form-container form .input label{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 0.95rem;
    pointer-events: none;
    transition: all 0.25s ease;
    background-color: #fff;
    padding: 0 4px;
}
body .checkout-container .checkout-left .form-container form .input input{
    border: none;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    width: 100%;
}
body .checkout-container .checkout-left .form-container form .input textarea{
    border: none;
    outline: none;
    width: 100%;
}
body .checkout-container .checkout-left .form-container form .input input,
body .checkout-container .checkout-left .form-container form .input textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background: none;
    padding: 10px 5px 5px 5px;
    resize: none;
}
body .checkout-container .checkout-left .form-container form .input input:focus + label,
body .checkout-container .checkout-left .form-container form .input input:not(:placeholder-shown) + label,
body .checkout-container .checkout-left .form-container form .input textarea:focus + label,
body .checkout-container .checkout-left .form-container form .input textarea:not(:placeholder-shown) + label {
    top: 0px;
    left: 10px;
    font-size: 0.8rem;
    color: #0396c7; 
}
body .checkout-container .checkout-left .form-container form .input:focus-within{
    border-color: #0396c7;
}
body .checkout-container .checkout-left .form-container form .option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
body .checkout-container .checkout-left .form-container form .option a{
    color: #0396c7;
    text-decoration: none;
}
body .checkout-container .checkout-left .form-container form .option a i{
    margin-right: 10px;
}
body .checkout-container .checkout-left .form-container form .option button{
    border: none;
    background-color: #0396c7;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.5s ease;
}
body .checkout-container .checkout-left .form-container form .option button:hover{
    background-color: hsl(195, 98%, 50%);
    cursor: pointer;
}
body .checkout-container .checkout-left .form-container form .input .error-msg {
    color: hsl(0, 100%, 70%);
    font-size: 0.75rem;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 14px;
    width: 250px;
}
body .checkout-container .checkout-right{
    flex: 1;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
body .checkout-container .checkout-right .label-right{
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
body .checkout-container .checkout-right .product-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
body .checkout-container .checkout-right .product-row .product-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
body .checkout-container .checkout-right .product-price,
body .checkout-container .checkout-right .sub-price-title{
    color: #aaa;
}
body .checkout-container .checkout-right .total-price-title{
    font-size: 1.2rem;
    color: #aaa;
}
body .checkout-container .checkout-right .total-price{
    font-size: 1.4rem;
    color: #0396c7;
}
body .checkout-container .checkout-right .product-row .product-detail img{
    width: 70px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    border: 0.5px solid #ccc;
}
body .checkout-container .checkout-right .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
body .checkout-container .checkout-right .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}