*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: auto;
    gap: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}
.container .header{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0396c7;
    margin-top: 25px;
}
.container .input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.container .input input{
    border: none;
    outline: none;
    width: 300px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.container .input .email-input{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
.container .input .email-input .code-btn{
    border: none;
    outline: none;
    padding: 15px;
    width: 150px;
    height: auto;
    border-radius: 10px;
    background-color: #0396c7;
    color: #fff;
}
.container .input .email-input input{
    padding: 15px;
}
.container .input .email-input input::placeholder{
    color: #0396c7;
    font-weight: 600;
}
.container .input .code-input{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
.container .input .code-input .code-btn{
    border: none;
    outline: none;
    padding: 15px;
    width: 150px;
    height: auto;
    border-radius: 10px;
    background-color: #0396c7;
    color: #fff;
}
.container .input .code-input input{
    padding: 15px;
}
.container .input .code-input input::placeholder{
    color: #0396c7;
    font-weight: 600;
}
.container .input .password-input{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.container .input .password-input input{
    width: 320px;
    padding: 15px;
}
.container .input .password-input input::placeholder{
    color: #0396c7;
    font-weight: 600;
}
.container .input .password-input .confirm-btn{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    background-color: rgb(3, 150, 199);
    border: none;
}
.container .input .email-input button:hover{
    background-color: hsl(195, 98%, 50%);
    cursor: pointer;
}
.container .input .code-input button:hover{
    background-color: hsl(195, 98%, 50%);
    cursor: pointer;
}
.container .input .password-input button:hover{
    background-color: hsl(195, 98%, 50%);
    cursor: pointer;
}
.container .input input:focus {
  border: 1px solid #0396c7;
  box-shadow: 0 0 5px rgba(3, 150, 199, 0.5);
}
button {
  transition: background-color 0.3s ease;
}