.home-image {
  margin: 10px 60px;
  position: relative;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* giữ tỉ lệ ảnh và crop nếu cần */
  object-position: 0% 80%; /* focus vào giữa ảnh (crop đều 2 đầu) */
  filter: brightness(70%);
}

.home-image .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.3rem;
  font-family: "Pacifico", cursive;
  text-align: center;
  width: 80%;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  animation: fadeInUp 1.2s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.container {
  margin: 30px 60px;
}

.container .danh-muc-noi-bat {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.container .danh-muc-noi-bat h5 {
  font-size: 1.7rem;
  font-weight: 700;
  color: #0396c7;
}

.container .danh-muc-noi-bat .danh-sach-danh-muc {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.container .danh-sach-danh-muc a {
  text-decoration: none;
  color: inherit;
}

.container .danh-muc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: none;
  transition: 0.3s;
}

.container .danh-muc:hover {
  transform: translateY(-3px);
}

.container .danh-muc:hover p {
  color: grey;
}
.container .danh-muc:hover i {
  color: #0396c7;

}

.container .danh-muc p {
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.3s;
}

.container .danh-muc i {
  font-size: 3rem;
  margin-bottom: 5px;
  color: #004aad;
  transition: 0.3s;
}

.container .product-card {
  max-width: 12em;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 5px 5px #ececec;
}

.container .product-card img {
  max-width: 100%;
}

.container .product-card p {
  font-size: 1.3em;
  margin: 0.5em 0;
  font-weight: bold;
}

.product-card div {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .product-card a {
  border-radius: 50%;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #0396c7;
  border-radius: 50%;
}