main {
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    gap: 20px;
}

main .sidebar {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .sidebar .filter {
    display: flex;
    flex-direction: column;
    border: 2px solid #004aad;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

main .sidebar .filter h3 {
    background-color: #004aad;
    color: white;
    padding: 10px 15px;
}

main .sidebar .filter label {
    padding: 10px 0;
    cursor:pointer;
    padding-left: 15px;
}

main .sidebar .filter input {
    cursor: pointer;
}

main .sidebar .filter label:hover {
    background-color: lightblue;
    color: #004aad;
}

main .sidebar .filter a {
    text-decoration: none;
    color: white;
    margin: 10px 15px;
    background-color: #004aad;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #004aad;
    transition: 0.3s;
    font-weight: bold;
}

main .sidebar .filter a:hover {
    color: #004aad;
    background-color: white;
}

main .content .product-grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

    gap:10px;
}

main .content .selected-filters {
    display: flex;
    border: 2px solid #0396c7;
    border-bottom: none;
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
}

main .content .selected-filters strong {
    background-color: #0396c7;
    color: white;
    padding: 10px;
    width: 12%;
    text-align: right;
}

main .content .selected-filters .filter-show {
    display: flex;
    background-color: white;
    width: 88%;
    gap: 50px;
}

main .content .selected-filters span {
    color: #0396c7;
    padding: 10px;
    font-weight: bold;
}

main .content .local-filters {
    display: flex;
    border: 2px solid #0396c7;
    border-top: 2px solid lightgray;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

main .content .local-filters strong {
    background-color: #0396c7;
    color: white;
    padding: 10px;
    width: 12%;
    text-align: right;
}

main .content .local-filters .local-filter-button-container  {
    display: flex;
    background-color: white;
    width: 88%;
}

main .content .local-filters .local-filter-button-container button {
    color: #0396c7;
    border: none;
    width: 130px;
    border: none;
    background-color: white;
    margin: 5px 10px;
    border-radius: 10px;
    border: 2px solid #0396c7;
    font-size: 0.9rem;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

main .content .local-filters .local-filter-button-container button:hover {
    color: white;
    background-color: #0396c7;
}
