:root {
  --primary: #0396c7;
  --accent: #ff9900;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f5f6f7;
}

.product-card {
  max-width: 12em;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 5px 5px #ececec;
  border: 1px solid lightblue;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}
.img-wrapper {
  aspect-ratio: 2/3;
  width: 100%;
  max-height: 220px;
  display: flex;
  overflow: hidden;
  border: 2px solid lightblue;
  border-radius: 8px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.product-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease;
  display: block;
}

.product-card p {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: left;
  display: -webkit-box;
  line-height: 1.2em;
  line-clamp: 2;  
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.4em
}
.product-card a{
  text-decoration: none;
  color: black;

}

.product-card div {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-form {
    display: inline;
}

.add-to-cart-btn {
    font-size: 1rem;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #0396c7;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    outline: none;
}

.add-to-cart-btn:hover {
    background-color: #027aa3;
}

.product-card span {
  color: #004aad;
}

.product-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card .add-to-cart-btn:hover {
  background-color: #004aad;
  transform: translateY(-10px);
}

.product-card {
  flex: 0 0 200px;
  scroll-snap-align: start;
}
.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: ease 0.3s;
}

.favorite-btn i {
  color: #ccc;
  font-size: 18px;
  transition: ease 0.3s;
}

.favorite-btn:hover i {
  color: white;
}

.favorite-btn:hover {
  background: #e74c3c;
}

.favorite-btn.active i {
  color: #e74c3c;
}

@media (max-width: 600px) {
  .product-card p {
    font-size: 14px;
  }
  .product-card span {
    font-size: 14px;
  }
}
