/* Header */
#siteHeader {
  position: relative;
  margin: 0;
  background: #9DC3E2;
  min-height: inherit !important;
  
}
#siteHeader .headerContainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-left: 70px;
  margin-right: 70px;
  color: white;
  font-weight: 700;
}

/* Footer */
#siteFooter {
  margin: 0;
  height: 200px;
  background: white;
  color: #000;
}
#siteFooter .footerContainer .topFooter {
  background: #9DC3E2;
  height: 50px;
  width: 100%;
}

